**/*
!/OrchestratorWebApp.csproj
!/appsettings.json
!/appsettings.Development.json
!/_Imports.razor
!/App.razor
!/Components/
!/Layout/
!/Models/
!/Pages/
!/Properties/
!/Services/
!/wwwroot/
!/Dockerfile
